
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
    color: #333;
}


.container {
    width: 400px;
    margin: 60px auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


h1, h2 {
    text-align: center;
    color: #444;
}


nav {
    background: #9d0008;
    padding: 12px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

button {
    padding: 10px;
    background: #9d0008;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #9d0008;
}


p {
    font-size: 14px;
    text-align: center;
}

p a {
    color: #9d0008;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

